.btn{
    background-color: $mainBlue;
    color:#ccc;
    text-decoration:none;
    padding:0.75rem 1.2rem;
    display:inline-block;
    &__orange{
        background-color:$mainOrange;
    }
    &__large{
        padding:1.1em 1.9em;
         @mixin atSmall{
            font-size:1.25rem;
        }
    }
}